html {
	margin: 0;
	padding: 0;
	font: normal 100%/1.4 Georgia,serif;
}
a {
	text-decoration: none;
}
ul {
	list-style:none;
}
nav ul li {
	float: left;
	padding-right: 10px;
}
post {
	margin:0;
	padding:0;
}
post ul li {
    border-bottom: 2px dotted #bbbbbb;
	margin-bottom: 5px;
}
.c {
	float: right;
	margin: 0;
	margin-right: 10px;
	font-size: .8rem;
}
.current {
	background: lightblue;
	color: white;
}
.nav {
	margin: 0;
	padding: 0;
}
.nav-top {
	margin-bottom: 5px;
	font-size: 1.1rem;
	 clear: both;
    overflow:hidden;
}
.nav-bottom{
	margin-top: 5px;
	font-size: .8rem;
} 
.clearfix {
    clear: both;
    overflow:hidden;
}
.site-header {
    border-bottom: 2px solid #999;
}
.site-footer {
    margin-top: 30px;
	margin-bottom: 50px;
    border-top: 2px solid #999;
}