body {
    font: normal 100%/1.4 Georgia,serif;
    background: silver;
    margin: 0;
    padding: 0;
    margin-top:-20px;
    margin-left: 15px;
    margin-right: 15px;
}
a {
    text-decoration: none;
}
a:focus {
  border: none;
  outline: none;
}
ul {
    list-style:none;
}
nav ul li {
    float: left;
    padding-right: 15px;
}
nav ul li a{
    color: white;
}
.c {
    float: right;
    margin: 0;
    margin-right: 35px;
    font-size: .8rem;
    padding-top: 5px;
}
.current {
    color: black;
}
.nav-top {
    padding-left: 22%;
    font-size: 1.5rem;
    text-shadow:9px 9px 9px red;;
    clear: both;
    overflow:hidden;
}
.nav-bottom{
    margin-top: 10px;
} 
.clearfix {
    clear: both;
    overflow:hidden;
}
.site-header {
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 2px solid #999;
    background: silver url("../images/header.png") no-repeat center top;
    background-size: cover;
    height: 17%;
}
.site-footer {
    margin-top: 30px;
    margin-bottom: 50px;
    border-top: 2px solid #999;
}
.tube {
    color: gray;
    background: white; 
    padding: 10px;
    border-radius: 15px;
}
.white {
    background: white;
    width: 40%;
    border-radius: 75px;
    padding-left: 55px;
    padding-top: 5px;
    margin-top: 5px;
}