---
layout: default
main-title: Home
meta: the home page for 618-Projects
priority: 1.0
---

<div class='line clearfix fl'>
    <ul style="padding:0;">
        <li class="list">
            <a href="{{site.baseurl}}/projects/start/" {% if page.url contains 'java' %}class="current"{% endif %}>
               All Projects </a>
        </li>
        <li class="list" style="margin-right: 0;">
            <a href="{{site.baseurl}}/posts-page/" {% if page.url contains 'math' %}class="current"{% endif %}>
               All Posts </a>
        </li>
    </ul>
    <h4 class='clearfix' style="text-align: center; padding-top: 20px;">   
        <span style="font-size: 30px;">W</span>elcome to the home of 618-Projects. 
        <br> Presented and created via YouTuber
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' style="color: lavender; text-shadow:5px 5px 5px red;">   
            Dandy Williams 
        </a>.
    </h4>
</div>

<h2 style="color: tan">
    Top Projects
</h2>

<ul>
    {% for p in site.data.plist limit:2 %}
    <li>
        <a href="{{site.baseurl}}/Projects//{{p.folder}}" >
            <img src="{{ site.baseurl }}/images/{{ p.image }}" alt='({{p.type}}Project)'>
            {{p.title}}</a>
        <p class="bb">{{p.content}}</p>        
        {% unless forloop.last %}
        <p style="color: brown;"> -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- </p>
        {% endunless %}
    </li>
    {% endfor %}
</ul>

<h2 style="color: tan">
    Latest Posts
</h2>

<ul>
    {% for j in site.posts limit:2 %}
    <li>
        <a href="{{site.baseurl}}{{j.url}}">
            <img src="{{ site.baseurl }}/images/{{ j.image }}" alt='({{j.category}}Project)'>
            {{j.title}}
        </a>
        <p class="bb">{{j.meta}}</p>
        {% unless forloop.last %}
        <p style="color: brown;"> -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- </p>
        {% endunless %}       
    </li>
    {% endfor %}
</ul>

