---
layout: default
---

<h1>
    Home
</h1>

<p>
    Welcome to the home of 618-Projects. Here you can browse all the projects created and highlighted by YouTube user
    <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' style="color:green">   
        Dandy Williams 
    </a>.
</p>

<h2>
    Top Projects
</h2>

<ol>
    {% for p in site.data.plist limit:2%}
    <li>
        <a href="{{site.baseurl}}/Projects//{{p.folder}}">
            <img src="{{ site.baseurl }}/images/{{ p.image }}" alt='({{p.type}}Project)'>
            {{p.title}}
        </a>
        {{p.content | markdownify}}
    </li>
    {% endfor %}
</ol>

<h2>
    Latest Posts
</h2>

<ul>
    {% for j in site.posts limit: 2%}
    <li>
        <a href="{{site.baseurl}}{{j.url}}">
            <img src="{{ site.baseurl }}/images/{{ j.image }}" alt='({{j.category}}Project)'>
            {{j.title}}
        </a>
        <p>
            {{j.meta}}
        </p>
    </li>
    {% endfor %}
</ul>
