---
layout: project
title: Math Projects
---

<h1>
    Math Projects
</h1>

<div>
    <ul>
        {% for p in site.data.plist %}
        {% if p.type == 'math' %}
        <li class="white">
            <a href="{{site.baseurl}}/Projects//{{p.folder}}">
                <img src="{{ site.baseurl }}/images/{{ p.image }}" alt='({{p.type}}Project)'>
                {{p.title}}
            </a>
            <p class="bb">
            {{p.content}}
            <br>
            <span style="color: brown"> -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- </span> 
        </p>        
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>