---
layout: project
---

<h1>
    Math Projects
</h1>

<div>
    <ul>
        {% for p in site.data.plist %}
        {% if p.type == 'math' %}
        <li>
            <a href="{{site.baseurl}}/Projects//{{p.folder}}">
                <img src="{{ site.baseurl }}/images/{{ p.image }}" alt='({{p.type}}Project)'>
                {{p.title}}
            </a>
            <a href="{{p.source}}" target='blank' style='color: green; padding-left: 10px;'>
                Video Link
            </a>
            {{p.content | markdownify}}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>