<div style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
    <a href="../trig/trigcalc.html" target= "blank" class="download">   
        Open 618-Calc
    </a>
</div>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 20px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 20px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>


<div style='color: tan; margin-top:0px;'>
    <span style="margin-left: 30px; font-weight: bold;">618-Calc Overview </span><br>
    618-Calc is a  webpage application for solving trigonometry problems. There are three calculators available
    to choose from; 
    <br><br>
    Phythagoras' Calculator
    <br>
    Use when two sides of a right angle triangle are known and you wish to find the length of the third side.
    <br><br>
    Trig Calculator (right angle)
    <br>
    Use when finding unknown angles or side lengths for a right angle triangle when two variables are known. 
    <br><br>
    Trig Calculator (cos/sin rule)
    <br>
    Use when finding unknown angles or side lengths for any triangle when three variables are known.
</div>
<br>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 10px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 10px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>

<div style="text-align: center; margin-bottom: 40px; margin-top: 10px;">
   <a href="../trig/trigcalc.html" target= "blank" class="download">   
        Open 618-Calc
    </a>
</div>
