<div style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
    <a href="618-Darts.zip" download="618-Darts.zip" class="download">   
        Free Download
    </a>
</div>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 20px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 20px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>


<div style='color: tan; margin-top:0px;'>
    <span style="margin-left: 30px; font-weight: bold;">618-Darts Overview </span><br>
    618-Darts is a Java darts scoreboard application. 
    Your device will need to have Java 1.8.0 or higher installed. Click the Free Download button to 
    download 618-Darts. To watch a 618-Darts video tutorial click the red 618-Tube button.
</div>
<br>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 10px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 10px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>

<div style="text-align: center; margin-bottom: 40px; margin-top: 10px;">
    <a href="618-Darts.zip" download="618-Darts.zip" class="download">   
        Free Download
    </a>
</div>
