<div style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
    <a href="../msite/WebSite/StartPage.html" target= "blank" class="download">   
        Open 618-Math
    </a>
</div>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 20px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 20px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>


<div style='color: tan; margin-top:0px;'>
    <span style="margin-left: 30px; font-weight: bold;">618-Math Overview </span><br>
   618-Math is a Mathematics website aimed at covering high school mathematics; in the UK
   this would be suitable for 15-16 year old students preparing for GCSE exams.
   <br><br>
   The website is a work in progress and depending on demand can be expanded upon. At the 
   Launch date 618-Math covers basic algebra, trigonometry and statistics. The site is interactive
   with questions having inputs for answers and outputs for worked solutions. There should also be
   Tutorial videos walking you through each stage of the website; these videos should act as complementing
   the site with reinforced explanations of how the maths is actually working.
   <br><br>
   You gain access to 618-Math website via the big blue buttons above and below. If you have not watched any
   of the 618-Math YouTube videos; I suggest you click the red 618-Tube button on this page now and at least
   watch the first video that will introduce you to 618-Math. I hope this free application can be some help 
   to you. Let me know your thoughts via YouTube.
</div>
<br>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 10px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 10px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>

<div style="text-align: center; margin-bottom: 40px; margin-top: 10px;">
   <a href="../msite/WebSite/index.html" target= "blank" class="download">   
        Open 618-Math
    </a>
</div>
