<nav class='nav  {{include.navclass}}'>
	<ul>
		<li>
			<a href="{{site.baseurl}}/" {% if page.url == '/' or  page.url == '/index.html' %}class="current"{% endif %}>
				Home
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/posts-page.html" 
			{% if page.url contains 'posts-page' or page.url contains 'java' or page.url contains 'math' %} class="current"{% endif %}>
				News
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/sql.html" {% if page.url == '/sql.html' %}class="current"{% endif %}>
				618-MySQL
			</a>
		</li>
	</ul>	
</nav>

