<div style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
    <a href="618-MySQL.zip" download="618-MySQL.zip" class="download">   
        Download
    </a>
</div>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 20px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 20px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>

<div style='color: tan; margin-top:0px;'>
    <span style="margin-left: 30px; font-weight: bold;">618-MySQL Overview </span><br>
    618-MySQL is a Java applications for MySQL databases management; Java 1.8.0 or above needs to be installed on your device. 
    618-MySQL can be downloaded directly on to your desktop and used like any other desktop application. 618-MySQL can be used 
    from a usb stick on any device equipped with MySQL databases. 618-MySQL has three separate display areas;

    <ol>
        <li>
            A large display area for displaying the selected table and keeping track of actions performed.
        </li>
        <li>
            An area for displaying available databases, tables or columns; relating to the selected action.
        </li>
        <li>
            The coding area, where all the code for the selected action can be worked on.
        </li>
    </ol>

    618-MySQL has three separate modes of operation; Select Mode, Create Mode and Update Mode. Each mode has its own filing system;
    save your current code to file or open a file template and press execute.
    <br><br>

    <span style="margin-left: 30px; font-weight: bold;">618-MySQL Select Mode </span><br>
    With 618-MySQL Select Mode you can view and select MySQL databases and tables. After table selection, you are able to press the
    Enter key and display your table within the large 618-MySQL display area or you can use one or all of the four handy function 
    keys; Where, And, Or and Order. That will add the following <span style="color: yellow">yellow inputs</span> to the already displayed code.
    <br><br>

    <span style="color: gray">
        SELECT <br>
        ID, <br>
        col1, <br>
        col2, <br>
        col3 <br>
        FROM table1 <br>
    </span>
    <span style="color: yellow">
        WHERE column ><= value <br>
        OR column ><= value <br>
        AND column ><= value <br>
        ORDER BY column DESC / ASC <br>
        LIMIT 999  <br>
    </span>
    <span style="color: gray">;</span><br><br>

    The gray code will be correct for the chosen table; you will only have to alter the newly added yellow code to suit your needs.
    The Where, Or, and And inputs can be used multiple times, maintaining correct code.
    <br><br>

    <span style="margin-left: 30px; font-weight: bold;">618-MySQL Create Mode </span><br>
    With 618-MySQL Create Mode you can create and drop databases, tables and triggers; again with handy function keys to simplify 
    the process. An example of creating a new table follows.
    <br><br>

    <span style="color: gray">
        CREATE TABLE<br>
        newTable<br>
        (  
        ID INT(5) NOT NULL AUTO_INCREMENT,<br>
    </span>
    <span style="color: yellow">
        columnName INT(5) NOT NULL ,<br>
        columnName INT(5) NOT NULL ,<br>
        columnName INT(5) NOT NULL ,<br>
    </span>
    <span style="color: gray">
        PRIMARY KEY (ID)<br>
        );
    </span>
    <br><br>

    The gray code is presented after entering a table name and is ready to create newTable with the ID column only.
    The pink code was created by pressing the handy Column function key three times. There is a list of column Main Types and 
    Constraints displayed in the adjoining text area to help  when editing the the code. 
    <br><br>

    <span style="margin-left:30px; font-weight: bold;">618-MySQL Update Mode </span><br>
    With 618-MySQL Update Mode you have Update, Insert, Alter, Delete and CSV function keys. The Update Mode has by far the 
    best time saving functions, that really need to be seen working; so please view my 618-tube video now.
    <br><br>

    <div class="clearfix">
        <div style="margin-bottom: 30px; margin-top: 10px; float: left">
            <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
                Donate
            </a>
        </div>
        <div style="float: right; margin-top: 10px; margin-bottom: 30px;">
            <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
                618-Tube
            </a>
        </div>
    </div>

    <div style="text-align: center; margin-bottom: 40px; margin-top: 10px;">
        <a href="/../../618-MySQL.zip" download="618-MySQL.zip" class="download">   
            Download
        </a>
    </div>

</div>

