<div style='color: tan; margin-top:0px;'>
    <span style="margin-left: 30px; font-weight: bold;">618-MySQL Overview </span><br>
    618-MySQL is a Java applications for MySQL databases management. 618-MySQL can be downloaded directly on to your desktop 
    and used like any other desktop application. 618-MySQL can be used from a usb stick on any device equipped with MySQL databases.
    618-MySQL has three main display areas;

    <ol>
        <li>
            A large display area for displaying tables and keeping track of actions performed.
        </li>
        <li>
            An area for displaying databases, tables or columns; relating to the selected action.
        </li>
        <li>
            The coding area, where all current code for the selected action can be worked on.
        </li>
    </ol>

    618-MySQL has three separate modes of operation; Select Mode, Create Mode and Update Mode.
    <br><br>
    <span style="margin-left: 30px; font-weight: bold;">618-MySQL Select Mode </span><br>
    With 618-MySQL Select Mode you can view and select MySQL databases and tables. After table selection, you are able to press the
    Enter key and display your table within the large 618-MySQL display area or you can use one or all of the four handy function 
    keys; Where, And, Or and Order. That will add the following <span style="color: pink">Pink inputs</span> to the already displayed code.
    <br><br>

    <span style="color: black">
        SELECT <br>
        ID, <br>
        col1, <br>
        col2, <br>
        col3 <br>
        FROM table1 <br>
    </span>
    <span style="color: pink">
        WHERE column ><= value <br>
        OR column ><= value <br>
        AND column ><= value <br>
        ORDER BY column DESC / ASC <br>
        LIMIT 999  <br>
    </span>
    <span style="color: black">;</span><br><br>

    The black code will be correct for the chosen table; you will only have to alter the newly added pink code to suit your needs.
    The Where, Or, and And inputs can be used multiple times, maintaining correct code.
    <br><br>

    <span style="margin-left: 30px; font-weight: bold;">618-MySQL Create Mode </span><br>


</div>