<div style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
    <a href="618-Tinnitus.zip" download="618-Tinnitus.zip" class="download">   
        Free Download
    </a>
</div>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 20px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 20px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>


<div style='color: tan; margin-top:0px;'>
    <span style="margin-left: 30px; font-weight: bold;">618-Tinnitus Overview </span><br>
    618-Tinnitus is a Java application that helps with tinnitus relief by playing various sounds 
    that help to mask the noise your brain is creating inside your head. Once the application is 
    running You can choose from natural sounds via the nature button or man made noises via the
    noise button. You can select up to three different sound to play at the same time. The sounds will
    play continuously until you click the stop or back button or turn off the application.
    Your device will need to be running Java 1.8.0 or higher. Click the Free Download button to 
    download 618-Tinnitus. To watch a video tutorial click the red 618-Tube button.
    <br><br>
    <span style="margin-left: 30px; font-weight: bold;">My Story</span><br>
    I suffer with tinnitus and have found the medical advice I have been 
    given to be useless. I have found a sound that masks my tinnitus very well and I play it 24hrs a day 
    in my home. Where I was waking up every morning to a raging sound in my head; I now wake up to my 
    tinnitus relief sound playing quietly near by. I watch television with my relief noise playing beside me. 
    I Hope what I have put together can help someone else find some relief. If you are just now accepting 
    tinnitus as part of your life this is very tough, but it does get easier. Accept it and keep busy. 
</div>
<br>

<div class="clearfix">
    <div style="margin-bottom: 30px; margin-top: 10px; float: left">
        <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
            Donate
        </a>
    </div>
    <div style="float: right; margin-top: 10px; margin-bottom: 30px;">
        <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class='tube'>   
            618-Tube
        </a>
    </div>
</div>

<div style="text-align: center; margin-bottom: 40px; margin-top: 10px;">
    <a href="618-Tinnitus.zip" download="618-Tinnitus.zip" class="download">   
        Free Download
    </a>
</div>
