---
layout: project
title: Java Projects
meta: page showing all java projects
---

<h1>
    Java Projects
</h1>

<div>
    <ul>
        {% for p in site.data.plist %}
        {% if p.type == 'java' %}
        <li>
            <a href="{{site.baseurl}}/Projects//{{p.folder}}">
                <img src="{{ site.baseurl }}/images/{{ p.image }}" alt='({{p.type}}Project)'>
                {{p.title}}</a>
            <p class="bb">{{p.content}}</p>
            {% unless p.order == 'last' %}
            <p style="color: brown;"> -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_- </p>
            {% endunless %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>