body {
    font: normal 100%/1.4 Georgia,serif;
    background: indianred;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.top {
    height: 10px;
}
.clearfix {
    clear: both;
    overflow:hidden;
}
a {
    text-decoration: none;
}
a:focus {
  border: none;
  outline: none;
}
.tube {
    color: gray;
    background: white; 
    padding: 10px;
    border-radius: 15px;
}
