body {
    font: normal 100%/1.4 Georgia,serif;
    background: indianred;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.clearfix {
    clear: both;
    overflow:hidden;
}
a {
    text-decoration: none;
}
a:focus {
    border: none;
    outline: none;
}
.tube {
    font-weight: bold;
    color: white;
    background: red; 
    padding: 10px;
    border-radius: 10px;
}
.article {
    color:tan; 
    margin-left: 40px;
}
