ul {
    list-style:none;
}
div ul li a,
nav ul li a{
    color: white;
}
li a img {
    border-radius: 75px;
}
.bb {
    color: tan;
    margin-left: 50px;
}
.nav-top {
    margin-top: -40px;;
    margin-left: 20px;
    font-size: 1.5rem;
    text-shadow:9px 9px 9px red;
    clear: both;
    overflow:hidden;
}
.nav-bottom{
    margin-top: 10px;
} 
.current {
    color: black;
}
.fl ul li,
.nav-bottom ul li {
    float: left;
    padding-right: 15px;
}
.list {
    margin-top: -17px;
    border: 1px solid tan; 
    border-top: none; 
    padding-left: 15px; 
    margin-right: 15px;
}
