<!DOCTYPE html>
<html lang="en-GB" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>{% if page.title %}{{ page.title }}_{% endif %}618-Projects{% if page.main-title %}_{{ page.main-title }}{% endif %}</title>
        <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
        <meta name="description" content="{{ page.meta }}">
    </head>

    <body style="height: 100%">
        <header class='site-header'>
            <div class="clearfix">
                <h1 style="margin-left: 20px; float: left; text-shadow:9px 9px 9px white;">
                    618-Projects
                </h1>
                <div style="margin-right: 20px; margin-top: 30px; float: right">
                    <a href='https://www.youtube.com/channel/UCz-ViYfEMUhFREpuUhqEImQ' target='blank' class="tube">   
                        618-Tube
                    </a>
                </div>
            </div>
            <div class="clearfix">
                <div style="float: left;">
                    {% include nav.html navclass='nav-top' %}
                </div>
                <div style="margin-right: 20px; margin-top: 85px; float: right">
                    <a href='https://www.paypal.me/618phi' target='blank' class="donate">   
                        Donate
                    </a>
                </div>
            </div>

        </header>

        <div style="border-left: 1px solid tan; margin-left: 18.1%; border-right: 1px solid tan; margin-right: 18.1%;">
            <div style="padding-left: 20%; padding-right: 20%;">
                {{content}}
            </div>
        </div>



        <footer class='site-footer'>
            {% include nav.html navclass='nav-bottom' %}
            <span class='c'>
                &#169; 618-Projects 2017
            </span>
        </footer>
    </body>
</html>





















