---
layout: default
---

<nav class='nav  clearfix'>
	<ul>
		<li>
			<a href="{{site.baseurl}}/Projects/start.html" {% if page.url contains 'Projects/start' %}
			class="current"{% endif %} style='color: green;'>
				All Projects
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/Projects/JavaProjects/" {% if page.url contains 'JavaProjects/' %} 
			class="current" {% endif %} style='color: green;'>
				Java Projects
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/Projects/MathProjects/" {% if page.url contains 'MathProjects' %}
			class="current"{% endif %} style='color: green;'>
				Math Projects
			</a>
		</li>
	</ul>	
</nav>

{{content}}

<footer>
	<p>
		<a href='https://youtu.be/8J1fYrvH1H4' style='color:green' target='blank'>
			618-YouTube
		</a>
	</p>
</footer>

