---
layout: default
---

<nav class='nav  clearfix'>
	<ul>
		<li>
			<a href="{{site.baseurl}}/Projects/start.html" {% if page.url contains 'Projects/start' %}
			class="current"{% endif %}>
				All Projects
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/Projects/JavaProjects/" {% if page.url contains 'JavaProjects/' %} 
			class="current" {% endif %}>
				Java Projects
			</a>
		</li>
		<li>
			<a href="{{site.baseurl}}/Projects/MathProjects/" {% if page.url contains 'MathProjects' %}
			class="current"{% endif %}>
				Math Projects
			</a>
		</li>
	</ul>	
</nav>

{{content}}
